@import 'constants';
@import 'buttons';
@import 'user';

// pages
@import './forms/login';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $bgc_1;
  color: $color_1;
  font-family: sans-serif;
}
